* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 500px;
  margin: 5% auto;
  border: 1px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: #2196f3;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 1.6rem; */
  overflow: auto;
}
